* { box-sizing: border-box; }

body{
  background: #1919fa;
}
.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 700px;
  height: 800px;
  background: none;
}

.hat-black{
  position: relative;
  height: 150px;
  width: 200px;
  background-color: black;
  border: 2px black solid;
  border-radius:80px;
  top: 10px;
  left: 750px;
}

.hat1-black {
  position: relative;
  height: 50px;
  width: 300px;
  background-color: black;
  border: 2px black solid;
  border-radius:50px;
  top: -20px;
  left: 700px;
  z-index: 6;
}

.head-marron {
  position: relative;
  height: 500px;
  width: 300px;
  background-color: brown;
  border: 2px black solid;
  border-radius:100px;
  top: -40px;
  left: 700px;
  z-index: 4;
}

.ear-pink {
  position: relative;
  height: 150px;
  width: 100px;
  background-color: pink;
  border: 2px black solid;
  border-radius:100px;
  top: -500px;
  left: 610px;
}

.left-ear-pink {
  position: relative;
  height: 150px;
  width: 100px;
  background-color: pink;
  border: 2px black solid;
  border-radius:100px;
  top: -643px;
  left: 990px;
}

.left-eye-white {
  position: relative;
  height: 150px;
  width: 100px;
  background-color: white;
  border: 2px black solid;
  border-radius:100px;
  top: -760px;
  left: 750px;
  z-index: 4;
}

.left-pupil-purple {
  position: relative;
  height: 33px;
  width: 35px;
  background-color: purple;
  border: 2px black solid;
  border-radius:50px;
  top: -850px;
  left: 780px;
  z-index: 4;
}

.right-eye-white {
  position: relative;
  height: 150px;
  width: 100px;
  background-color: white;
  border: 2px black solid;
  border-radius:100px;
  top: -942px;
  left: 845px;
  z-index: 4;
}

.right-pupil-purple {
  position: relative;
  height: 33px;
  width: 35px;
  background-color: purple;
  border: 2px black solid;
  border-radius:50px;
  top: -1031px;
  left: 875px;
  z-index: 4;
}

.nose-red {
  position: relative;
  height: 75px;
  width: 100px;
  background-color: red;
  border: 2px black solid;
  border-radius:50px;
  top: -980px;
  left: 800px;
  z-index: 4;
}

.moustache-black {
  background-color: black;
  transform: skewY(40deg);
  position: relative;
  height: 55px;
  width: 75px;
  background-color: black;
  border: 2px black solid;
  border-radius:50px;
  top: -960px;
  left: 900px;
  z-index: 4;
}

.moustache-black1 {
  position: relative;
  height: 40px;
  width: 150px;
  background-color: black;
  border: 2px black solid;
  border-radius:50px;
  top: -1035px;
  left: 775px;
  z-index: 4;
}

.moustache-black2 {
  background-color: black;
  transform: skewY(-40deg);
  position: relative;
  height: 55px;
  width: 75px;
  background-color: black;
  border: 2px black solid;
  border-radius:50px;
  top: -1055px;
  left: 725px;
  z-index: 4;
}

.mouth-red {
  position: relative;
  height: 85px;
  width: 200px;
  background-color: red;
  border: 2px black solid;
  border-radius:50px;
  top: -1090px;
  left: 750px;
  z-index: 4;
}

.teeth-white {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 2px black solid;
  border-radius:-100px;
  top: -1175px;
  left: 790px;
  z-index: 4;
}

.teeth-white1 {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 2px black solid;
  border-radius:-100px;
  top: -1205px;
  left: 830px;
  z-index: 4;
}

.teeth-white2 {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 2px black solid;
  border-radius:-100px;
  top: -1235px;
  left: 870px;
  z-index: 4;
}

.teeth-white3 {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 2px black solid;
  border-radius:-100px;
  top: -1210px;
  left: 790px;
  z-index: 4;
}

.teeth-white4 {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 2px black solid;
  border-radius:-100px;
  top: -1240px;
  left: 830px;
  z-index: 4;
}

.teeth-white5 {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 2px black solid;
  border-radius:-100px;
  top: -1270px;
  left: 870px;
  z-index: 4;
}

.left-shoe-purple {
  position: relative;
  height: 120px;
  width: 250px;
  background-color: purple;
  border: 2px black solid;
  -moz-border-radius: 50px;
  -webkit-border-radius: 100px 0 0;
  border-radius: 100px 50px 0 0;
  top: -1240px;
  left: 610px;
  z-index: 2;
}


.right-shoe-purple1 {
  position: relative;
  transform: rotate(180deg);
  height: 120px;
  width: 235px;
  background-color: purple;
  border: 2px black solid;
  -moz-border-radius: 50px;
  -webkit-border-radius: -100px 0 0;
  border-radius: 0 0 50px 100px;
  top: -1360px;
  left: 860px;
  z-index: 2;

}
